<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>420116591585-jkb34u697cpcq9q5pd7bhvd79j1jn0ei.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.420116591585-jkb34u697cpcq9q5pd7bhvd79j1jn0ei</string>
	<key>API_KEY</key>
	<string>AIzaSyBPMvGkhuHQsKzNx9lQ70hFf57tZ6XWJjw</string>
	<key>GCM_SENDER_ID</key>
	<string>420116591585</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rubi.CreditCardList</string>
	<key>PROJECT_ID</key>
	<string>creditcard-list-84e78</string>
	<key>STORAGE_BUCKET</key>
	<string>creditcard-list-84e78.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:420116591585:ios:8b2a129438e1fb4be558a0</string>
</dict>
</plist>